.education{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education-card{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    
    margin: 20px 10% 25px 30%;
    padding: 0 10px 5px 15px;
    
    border-left: 3px rgb(126, 45, 99) solid;
}

.education-card p{
    margin-top: 0;
}

.course{
    font-size: 125%;
    font-weight: 800;
    margin-bottom: 2px;
}

.info{
    margin: 0;
    color: #323232;
}