.game-list{
    background-color: wheat;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.game{
    display: flex;
    flex-direction: row;

    background-color: #eeadad;
    border: 2px #a34b4b;
    border-radius: 15px;
    width: 450px;
    margin: 10px;
    padding: 10px;
}

.game-cover{
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    border: 3px #335 solid;
}

.game-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.game-title{
    font-size: 155%;
    font-weight: 700;
    margin: 10px 0;
}

.game-description{
    color: #1a1a3a;
    margin: 0;
}

.game-published-at{
    color: #3a3a5a;
    font-size: 80%;
    margin: 0;
}