.repo-list{
    background-color: wheat;
    padding: 15px;
    padding-left: 12%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.repo{
    display: flex;
    flex-direction: row;

    background-color: #eeadad;
    border: 2px #a34b4b;
    border-radius: 5px;
    width: 450px;
    margin: 5px;
    padding: 10px;
}

.repo-cover{
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    border: 3px #335 solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
}

.repo-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.repo-info button{
    width: 200px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #3a3a5a;
    color: #e5e5e5;
    font-weight: 300;
}

.repo-title{
    font-size: 155%;
    font-weight: 700;
    margin: 10px 0;
}

.repo-description{
    color: #1a1a3a;
    margin: 0;
}

.repo-published-at{
    color: #3a3a5a;
    font-size: 80%;
    margin: 0;
}