.certicates-list{
    margin: 15px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certificate{
    text-align: left;
    max-width: 550px;
    margin: 45px 10%;
    border-bottom: 2px #0f1a25 solid;
}

p{
    margin: 0;
    margin-bottom: 5px;
}

.certificate-name{
    font-size: 110%;
    font-weight: bold;
}

.certificate-info{
    margin-left: 15px;
    height: 100px;
}

.certificate-date{
    margin-bottom: 15px;
}

.certificate-link{
    background-color: #89baeb;

    border: 1px #3d6083 solid;
    border-radius: 2px;

    padding: 5px 20px;

    color: #161316;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.certificate-link:hover{
    background-color: #213346;
    border: 1px #0f1a25 solid;
    color: #c562c5;
}

.certificate-link:active{
    background-color: #003e80;
    border: 1px #0f1a25 solid;
    color: #ff6cff;
    padding: 5px 15px
}