.Header nav{
    background-color: #333;
}

.Header li{
    display: flex;
    margin-left: 15px;
}

.Header ul{
    padding: 0;
}

.router-link{
    margin: 0;
    padding: 5px 20px;
    text-align: start;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #f1f1f5;
    text-decoration: none;
}

.router-link:hover{
    cursor: pointer;
    color: #1f1f2f;
    background-color: #a3a3a3;
}

.router-link:active{
    padding-top: 7px;
    padding-bottom: 3px;
}