li{
    display: flex;
}

button{
    margin: 0;
    padding: 5px 20px;
    text-align: start;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

button:hover{
    cursor: pointer;
    color: #f1f1f5;
    background-color: #333;
}

button:active{
    padding-top: 7px;
    padding-bottom: 3px;
}